{% extends "layout.njk" %}

{% block head %}

  <title>Portfolio - Pliffisson Gomes</title>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

{% endblock %}

{% block content %}

  <div id="wrapper">
    <h1>Bikes</h1>
  </div>

  <section class="cards">

    {% for item in items %}

      <div class="card" id="{{item.id}}}">
        <div class="card__image-container {{ 'featured-wrapper' if item.featured }}">
          <img src="https://img.youtube.com/vi/{{item.id}}/maxresdefault.jpg" alt="Imagem de {{item.title}}">

          {% if item.featured %}
            <div class="featured">Featured</div>
          {% endif %}

        </div>
        <div class="card_content">
          <p>{{item.title}}</p>
        </div>
        <div class="card_info">
          <p>{{item.duration}}</p>
          <p class="card_price">{{item.price}}</p>
        </div>
      </div>

    {% endfor %}
  </section>

  <div class="modal-overlay">
    <div class="modal">
      <a class="close-modal">
        <span class="material-icons">
          close
        </span>
      </a>

      <div class="model-content">
        <iframe src="" frameborder="0"></iframe>
      </div>
    </div>
  </div>

  <script src="./index.js"></script>

{% endblock %}