<!DOCTYPE html>
<html lang="pt-br">

    <head>

        {% block head %}

            <title>Gym Manager</title>

        {% endblock %}

        <link rel="stylesheet" href="/index.css">
        <link rel="shortcut icon" href="/icons8-haltere-24.png" type="image/x-icon">

    </head>

    <body>
        <header>
            <div class="links">
                <a href="/" class="active">Instructors</a>
                <a href="/members">Members</a>
            </div>
        </header>

        {% block content %}{% endblock %}

    </body>

</html>